@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@Model.WelcomeMessage</h1>

        <h2>@Model.ErrorMessage</h2>
        <a href="~/Views/index.cshtml">Click me</a>
        
    </div>
</body>
</html>
