@model Login2.Models.Profile
@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ProfList = ViewBag.ProfileList;
    <h2>Browse</h2>

    if (ProfList == null)
    {
        <h2> @ViewBag.ErrorMessage </h2>
    }
    else
    {
        for (int i = 0; i < ProfList.Count; i++)
        {

            <div class="ProfileBlock">

                <h2>@ProfList[i].Username</h2>
                <br />
                <div>
                    <h3>Fame: @ProfList[i].Fame</h3>

                </div>
                @using (Html.BeginForm(
                "SingleProfileView", "Profile",
                new { Username = @ProfList[i].Username }, FormMethod.Post))
                {
                    <input type="submit" value="View Profile" />
                }
            </div>
        }
    }
}




